<%= render 'navbar' %>

<main id="main">
  <div class="wrapper">
    <section id="hero">
      <div class="left">
        <h2>
          Imitation is the sincerest form of flattery
        </h2>
        <div class="button_cta">
          Choose Park for BarkBox
        </div>
        <div class="button_cta last">
          Give a gift
        </div>
      </div>
      
      <div class="hero_container">
      </div>
    </section>
  </div>
  
  <section id="how_parkbox_works">
    <h1>
      Why choose Park
    </h1>
    
    <div class="flex_container">
      <div class="trio">
        <%= image_tag("doggo_1.jpg")%>
        I love dogs!
      </div>
      <div class="trio">
        <%= image_tag("doggo_2.jpg")%>
        My friends love BarkBox!
      </div>
      <div class="trio">
        <%= image_tag("doggo_3.jpg")%>
        They beg for BarkBox treats!
      </div>
      
      <div class="cta">
        <p>
          Ready to work with Park!?
        </p>
        <div class="button">
          <a href="http://parkjake.com" target="_blank">Click here!</a>
        </div>
      </div>
    </div>
    
  </section>
  
  <section id="about">
    <h1>About
    </h1>
    
    <div class="flex_container">
      <div class="img_holder">
        <%= image_tag("miles_and_me.jpg")%>
        I love dogs!
      </div>
      
      <div class="content">
        <p>
          I'm a NYC based software developer. I went to Columbia University and graduated as a mechanical engineer. I enjoyed working with my hands in the machine shop, applying theoretical concepts to the real world. Now I love to build software.
        </p>
        <p>
          In my spare time I am a multi-marathon runner, cyclist, bike mechanic, and swing dancer.
        </p>
      </div>
    </div>
  </section>
</main>

<%= render 'footer' %>